body{
    margin: 0%;
    padding: 0%;
}
h3{
    margin-left: 30px;
 font-family: sans-serif;
 margin-top: 20px;
 margin-bottom: 20px;
}
#image-container>img{
    width: 100%;
}
#header1{ 
    margin: 0%;
    background-color: black;
    border: 2px solid black;
    text-align: center;
    height: 30px;
}
#header1>h5{
    height: 80%;
    /* padding-bottom: 20px; */
    /* margin-bottom: 30px; */
    margin-top: 5px;
}
#t1_back
{
    /* border :2px solid red */
    background-color:rgb(9, 53, 125);
    /* width: 90%; */
   
}
#t1{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
    text-align: center;
    width: 96%;
    margin: auto;
    justify-content: space-between;
    
  
    /* border :2px solid red */
    

}
#trop{
    display: flex;
    justify-content: center;
}
#trop>img{
    padding-top: 50px;
    width: 70px;
    height: 70px;
}
#trop>h2{
    font-size: 30px;
    margin-left: 20px;
   
font-family: cursive;
/* font-family: math;  */

}

#t1>div{
    /* border :2px solid red */
    background-color: white;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 30px;
   

}
h2{
    color: white;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    padding-top: 40px;
}
#t2{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 10px;
    text-align: center;
    width: 96%;
    margin: auto;
}
#t2>div{
    background-color:rgb(9, 53, 125);
    margin-top: 10px;
    margin-bottom: 30px;
   
    /* height: 130px; */
}
#t2>div>img{
    width: 100%;
}
#t2>div>p{
    color: white;
    /* padding-bottom: 100px; */
}
#t3{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 10px;
    width: 96%;
    margin: auto;
    text-align: center;
}
#t3>div{
    /* border :2px solid white */
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#t4{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4,1fr);
    width: 96%;
    margin: auto;

}
#t4>div>img{
    width: 100%;
}
#t5{
    width: 96%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
#t5>img{
    width: 100%;
}
#t6{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2,1fr);
    width: 96%;
    margin: auto;
}
#t6>div>img{
    width: 100%;
}
#t7{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 10px;
    width: 96%;
    margin: auto;
    text-align: center;
}
#t7>div{
    /* border :2px solid white */
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#t8{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 10px;
    width: 96%;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}
#t8>div{
    /* border :2px solid white */
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#t9
{
    width: 96%;
    margin: auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 20px;
}
#t9>div>img{
    width: 100%;
}
#t9> :nth-child(1){
    background-image: url('https://www.adorama.com/col/UIimages/homepage/evergreen-banners/Callout_Image_Used.jpg');
    background-size: cover;
    padding: 10px; /* add padding to create some space between text and image */
}
#t9> :nth-child(2){
    background-image: url('https://www.adorama.com/col/UIimages/homepage/evergreen-banners/Callout_Image_Sell.jpg');
    background-size: cover;
    padding: 10px; /* add padding to create some space between text and image */
}
#t9> :nth-child(3){
    background-image: url('https://www.adorama.com/col/UIimages/homepage/evergreen-banners/Callout_Students.jpg');
    background-size: cover;
    padding: 10px; /* add padding to create some space between text and image */
}
#t9> :nth-child(4){
    background-image: url('https://www.adorama.com/col/UIimages/homepage/evergreen-banners/Callout_Rentals.jpg');
    background-size: cover;
    padding: 10px; /* add padding to create some space between text and image */
}
#t9> :nth-child(5){
    background-image: url('https://www.adorama.com/col/UIimages/homepage/evergreen-banners/Callout_Image_ABS.jpg');
    background-size: cover;
    padding: 10px; /* add padding to create some space between text and image */
}
#t9> :nth-child(6){
    background-image: url('https://www.adorama.com/col/UIimages/homepage/evergreen-banners/Callout_Printique.jpg');
    background-size: cover;
    padding: 10px; /* add padding to create some space between text and image */
}
#t9>div>h4{
    color: white;
    font-size: 20px;
}
#t9>div>p{
    color: white;
    font-size: 20px;
}
#t10{
    width: 96%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 25px;
    text-align: center;
    margin-bottom: 20px;
}
#t10>div>img{
    width: 100%;
}
#t10>div{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#t11
{
    width: 96%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    margin-bottom: 20px;
}
#t11>div>img{
    width: 100%;
}
#t12{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    width: 96%;
    margin: auto;
    margin-bottom: 20px;
}
#t12>div>img{
    width: 100%;
}


/* Footer */



.footer-99382 .row > div:not(:first-child) {
    flex: 1;
  }
  
  @media (min-width: 768px) {
    .footer-99382 .row {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .footer-99382 {
    background-color:rgb(9, 53, 125);
    padding: 40px 0;
  }
  
  /* Style the site logo */
  .footer-site-logo {
    color:white;
    font-weight: bold;
    font-size: 24px;
  }
  
  /* Style the footer links */
  .nav-links li {
    margin-bottom: 10px;
  }
  
  .nav-links a {
    color: white;
    font-weight: 500;
    text-decoration: none;
  }
  
  .nav-links a:hover {
    color:green;
  }
  
  /* Style the social icons */
  .social li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color:white;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    transition: all 0.2s ease;
  }
  
  .social a:hover {
    transform: scale(1.2);
  }
  
  /* Style the copyright text */
  .copyright {
    color: white;
    font-size: 14px;
  }
  .footer-99382 h3{
  margin-left: 30px;
  color: white;
  }
  .icon-facebook>img{
      width: 100%;
  }
  .col-md img{
      width: 100%;
  }
  .col-md-4>a{
    font-size: 30px;
    margin-left: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }  


     /* Hover */

#t1>div:hover
{
   
        transform: scale(1.1);
}
#t2>div:hover
{
   
    transform: scale(1.1);
}
#t3>div:hover
{
   
    transform: scale(1.1);  
}
#t4>div:hover
{
   
    transform: scale(1.1);  
}
#t5>div:hover
{
   
    transform: scale(1.1);  
}
#t7>div:hover
{
   
    transform: scale(1.1);  
}
#t8>div:hover
{
   
    transform: scale(1.1);  
}
#t10>div:hover
{
   
    transform: scale(1.1);  
}
#t11>div:hover
{
   
    transform: scale(1.1);  
}
#t12>div:hover
{
   
    transform: scale(1.1);  
}
  
  